body{
  margin: 0;
}

h1.new-post-header {
  color:#5362E4;
  text-align:center;
  margin: 0 auto;
  font-size: 2rem;
  font-weight: bold;

}
.App-header {
  background: linear-gradient(-150deg, #00b89e9c 0%, #0152b5 97%);
  padding: 20px;
  text-align: center;
}

.App-header a{
  color: #ffffff;
  text-decoration: none;
}
.App-title {
  font-size: 1.5em;
}
.App-link {
  color: #61dafb;
}

.button {
  text-decoration: none;
  background: #5362E4;
  color: #ffffff;
  padding: 5px 10px;
  border-radius: 2rem;
}
.btn-toggle{
  text-decoration: none;
  background: #4FADF9;
  color: #ffffff;
  padding: 1.2rem;
  border-radius: 1.588rem;
  margin-top: 1.5rem;
  font-size: 1rem;
  font-weight: 800;
  cursor: pointer;
}
main {
  width: 90%;
  margin: 1rem auto;
}

.posts-listing {
  
  padding: 0;
  margin: 2rem auto;
}

.posts-listing li{
  margin-bottom: 2rem;
  font-size: 1.6rem;
}

input, text-area {
  width: 100%;
  margin-bottom: 1rem;
  
}

input {
  font-size: 1.6rem;
}

textarea {
  width: 100%;
  font-size: 1.2rem;
  height: 50vh;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
